
#DEPENDENCIAS

lib/
*.jar
*.war
*.ear
*.nar
*.zip


#CARPETAS DE COMPILACIÓN

bin/
target/
build/
out/


#ARCHIVOS DE IDE

.vscode/
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/


#ARCHIVOS DE CONFIGURACIÓN LOCAL

*.log
*.tmp
*.swp
*.swo


#MAVEN

.mvn/
!mvnw
!mvnw.cmd
!mvn-wrapper.jar


# ENTORNOS

.env
.env.*
*.env
*.db
*.sqlite
*.sql


#ARCHIVOS SENSIBLES

*.key
*.p12
*.pem
*.jks


#DOCKER

docker-compose.override.yml


#SISTEMA

.DS_Store
Thumbs.db


#ARCHIVOS DE SWING/JAVA FX (opcional)

*.class
